@model BookStore.Models.TacGia
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Thêm mới danh mục </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/tacgia/index">Tác giả</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thêm mới</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin thêm mới danh mục </h3>
            <div class="card-body">
                @using (Html.BeginForm("Create", "TacGia", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <label for="ID">ID</label>
                        @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @placeholder = "ID Tác giả" })
                        @Html.ValidationMessageFor(x => x.ID, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="NameAuthor">Tên tác giả</label>
                        @Html.TextBoxFor(x => x.NameAuthor, new { @class = "form-control", @placeholder = "Tên Tác giả" })
                        @Html.ValidationMessageFor(x => x.NameAuthor, null, new { @class = "text-danger" })
                    </div><div class="form-group">
                        <label for="TGDescription">Mô tả</label>
                        @Html.TextBoxFor(x => x.TGDescription, new { @class = "form-control", @placeholder = "Mô tả" })
                        @Html.ValidationMessageFor(x => x.TGDescription, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="HinhTG">Hình</label>
                        @Html.TextBoxFor(x => x.HinhTG, new { type = "file", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="NgaySinh">Ngày sinh</label>
                        @Html.TextBoxFor(x => x.NgaySinh, new { @class = "form-control", @placeholder = "Ngày sinh" })
                        @Html.ValidationMessageFor(x => x.NgaySinh, null, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <a href="/admin/book" class="btn btn-danger">Quay lại</a>
                        <button type="submit" class="btn btn-success mr-2">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

