@model BookStore.Models.TacGia
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xác nhận xóa danh mục</h2>
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Xác nhận xóa tác giả</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/tacgia/index">Tác giả</a></li>
                <li class="breadcrumb-item active" aria-current="page">Xóa</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Bạn có chắc chắn muốn xóa danh mục này không?</h3>
        </div>
        <div class="card-body">
            <p><strong>ID:</strong> @Model.ID</p>
            <p><strong>Tên tác giả:</strong> @Model.NameAuthor</p>
            <p><strong>Ngày sinh:</strong> @Model.NgaySinh</p>
            <p><strong>Mô tả:</strong> @Model.TGDescription</p>
            <dt>Hình</dt>
            <dd>
                @if (!string.IsNullOrEmpty(Model.HinhTG))
                {
                    <img src="@Url.Content(Model.HinhTG)" width="100" height="100" />
                }
                else
                {
                    <span>Không có hình</span>
                }
            </dd>
            @using (Html.BeginForm("DeleteConfirmed", "TacGia", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ID)
                <button type="submit" class="btn btn-danger">Xóa</button>
                <a href="@Url.Action("Index")" class="btn btn-secondary">Quay lại</a>
            }
        </div>
    </div>
</div>


